@import "@fontsource/crimson-text";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/inter";

@theme {
    /* Font sans, serif, mono */
    --font-serif: "Crimson Text", serif;
    --font-sans: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
}
